.home-button {
    width: 400px;
    height: 100px;
    margin: 10px;
    font-size: 2em;
    padding: 22px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
}

.home-button:hover {
    position: relative;
    left: 10px;
    text-decoration: none;
}

.icon {
    margin-right: 5px;
}

.quick {
}