button {
    width: 200px;
    margin: 15px;    
    height: 60px;
    border-radius: 10px;
    background-color: #18BC9C;
    color: white;
    font-size: 24px;
}

.game-over-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.player-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

#player-one-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#player-two-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rematch-message {
    font-size: 24px;
}

.icon {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.winner {
    font-size: 50px;
}

.player-rating-flexbox {
    display: flex;
}

.green {
    color: green;
}

.red {
    color: red;
}

.rating-gain {
    margin-left: 5px;
    margin-right: 5px;
}
